test/src/META-INF/wsdl/schema/common/EIWSException.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.gecapital.jp/schema/ei/EIWSException" elementFormDefault="qualified" targetNamespace="http://www.gecapital.jp/schema/ei/EIWSException">
    <xsd:complexType name="EIWSExceptionsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="EIWSException" type="tns:EIWSExceptionType"/>
        </xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="EIWSExceptionType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ID" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Message" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Operation" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Cause" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Action" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CallStackTrace" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
	
    <xsd:element name="EIWSException" type="tns:EIWSExceptionsType"/>
	
</xsd:schema>
